@{
    ViewBag.Title = "Contact";
}

<address>
    Parviz Musaiev<br />
    Kharkiv, Lyudviga Svobody 52<br />
    <abbr class="glyphicon glyphicon-phone-alt" title="Phone" >(099) 1902054</abbr>
</address>

<address>
    <strong>Support:</strong>   <a class="glyphicon-bell text-balck" href="mailto:Support@nure.ua">Support@nure.ua</a><br />
    <strong>Marketing:</strong> <a class="glyphicon-pushpin text-balck" href="mailto:Marketing@nure.ua">Marketing@nure.ua</a>
</address>