@{
    ViewBag.Title = "Home Page";
}

<div class=" col-lg-12">
    <h2><b>Общеуниверситетские факультативы</b></h2>

    <br />Общеуниверситетские факультативы — давняя традиция ХНУРЕ, и этой хорошей традиции уже более 10 лет.
    Каждый учебный год Университет организует учебные курсы различной тематики и продолжительности: от сугубо теоретических
    до мастер-классов ведущих практиков. Задача общеуниверситетского факультатива — не столько передача знания, сколько формирование
    особого мировоззрения и получение дополнительных компетенций, необходимых для дальнейшей профессиональной деятельности студента.

    <br />Любой студент ХНУРЕ может самостоятельно выбрать для изучения любой общеуниверситетский факультатив. Общеуниверситетский
    факультатив изучается вне рамок основной образовательной программы. Это значит, что неудовлетворительная оценка не будет являться
    академической задолженностью (в соответствии с Положением об организации промежуточной аттестации и текущего контроля успеваемости
    студентов. Оценка „неудовлетворительно“, полученная по общеуниверситетскому факультативу, не считается академической задолженностью»).


    <p><h4><b>Факультативы также открыты для всех внешних заинтересованных слушателей независимо от возраста и уровня обучения.</b></h4></p>

    В рамках общеуниверситетских факультативов в 2017/18 учебном году студентам и аспирантам,
    а также всем заинтересованным слушателям извне предлагается 50 авторских курсов, представляющих 
    панораму актуальных исследований по экономике и управлению, технике, математике и естествознанию, 
    а также в области гуманитарных и социальных наук.

    <p><h4><b>Посещение факультативов для всех слушателей бесплатно.</b></h4></p>

    По всем вопросам, связанным с реализацией общеуниверситетских факультативов, пишите в Дирекцию основных образовательных программ (electives@nure.ua).
</div>