html, body {
    margin: 0 auto;
    width: 80%;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #194da0 25%, #2586ed 60%, #2b9ee5 76%, #7db9e8 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%,#194da0 25%,#2586ed 60%,#2b9ee5 76%,#7db9e8 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%,#194da0 25%,#2586ed 60%,#2b9ee5 76%,#7db9e8 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

body {
    min-height: 100vh;
}

.page-header {
    position: center;
    text-align: center;
    margin: auto auto;
}


.main {
    margin: 0 auto; /* Центрируем блоки */
    width: 100%; /* Задаем ширину 100%, чтобы сделать ее резиновой */
    max-width: 100%; /* Устанавливаем максимальную ширину */
}

.inline div {
    display: inline-block; /* Делаем блоки по горизонтали */
    vertical-align: top; /* Выравниваем их сверху */
    font-size: 16px; /* Ставим дочкам размер шрифта, иначе примет значение родителя */
}

div.inline {
    font-size: 0;
}
/* Ставим родителю значение 0, чтобы убрать отступы у блоков*/
.content {
    width: 100%;
}

.levp {
    width: 100%;
    text-align:left;
    margin:-50px 50%;
}

.lev
{
    width:50%;
    position:relative;
    height:130px;
    z-index: 1001;
}

.right-block {
    width: 20%;
    display: table;
    position: absolute;
}

footer {
}
.menu {
    editor /#d5f218+1,34c92c+52,62ed34+96 */ background: #d5f218; /* Old browsers */
    background: -moz-linear-gradient(top, #d5f218 1%, #34c92c 52%, #62ed34 96%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d5f218 1%,#34c92c 52%,#62ed34 96%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d5f218 1%,#34c92c 52%,#62ed34 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5f218', endColorstr='#62ed34',GradientType=0 ); /* IE6-9 */
    border-bottom-left-radius: 15px;
    border-top-right-radius: 30px;
}

.person-color {
    color:wheat;
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

.navbar-nav li{
    min-width:80px;
    
}

.dropdown ul, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        color: #333333;
        background-color: chartreuse;
    }

.navbar-default .navbar-nav > li > a {
    color: #333;
}

.navbar-nav {
    width: 75%;
}
.navbar-right {
    width: auto;
}

.menu li{
    position:relative;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 3px solid #b94a48;
}

textarea.input-validation-error {
    border: 3px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


textarea {
    width: 80%;
    height: 8em;
}

.Account {
    text-align: right;
    margin: auto auto;
}

.facultative-label {
    width: 100%;
    border-style: inset;
}

.facultative-color {
    color: black;
    background: #ff7c00; /* Old browsers */
    background: -moz-linear-gradient(top, #ff7c00 7%, #ff7c00 7%, #ffb76b 31%, #ffb76b 37%, #ffb36d 67%, #ffb36d 67%, #ffa73d 81%, #ffa73d 91%, #ff7f04 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff7c00 7%,#ff7c00 7%,#ffb76b 31%,#ffb76b 37%,#ffb36d 67%,#ffb36d 67%,#ffa73d 81%,#ffa73d 91%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff7c00 7%,#ff7c00 7%,#ffb76b 31%,#ffb76b 37%,#ffb36d 67%,#ffb36d 67%,#ffa73d 81%,#ffa73d 91%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7c00', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
    border-style: inset;
}

.teacher-color {
    color: black;
    background: #cb60b3; /* Old browsers */
    background: -moz-linear-gradient(top, #cb60b3 0%, #ad1283 50%, #de47ac 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); /* IE6-9 */
}

.fon-color {
    color: burlywood;
    background: #4c015b; /* Old browsers */
    background: -moz-linear-gradient(top, #4c015b 1%, #45039b 45%, #5e005b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c015b 1%,#45039b 45%,#5e005b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c015b 1%,#45039b 45%,#5e005b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c015b', endColorstr='#5e005b',GradientType=0 ); /* IE6-9 */
}


.facultative-label a {
}

.text-balck{
    color:#000000;
}

.brand{
    height:150px;
    width:85%;
}
